body {
    overflow: hidden;
}

.gameOver {
    position: absolute;
    top: 45%;
    right: 100px;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: #fff;
    text-align: center;
}

.button-28 {
   position: absolute;
   left: 100px;
   top: 45%;
   background-color: transparent;
   border: 2px solid #1A1A1A;
   border-radius: 15px;
   color: white;
   cursor: pointer;
   font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
   font-size: 16px;
   font-weight: 600;
   padding: 16px 24px;
   text-align: center;
   text-decoration: none;
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
   width: 20%;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}
